
body {
  
  margin: 0px;
  padding: 0px;
}

table {
  position: center;
}

.main{
  background-color: black;
  width: auto;
  height: 100%;
}

.admin{
  font-size: 30px;
  color :aliceblue;
  padding: 15px;
}

.tablename{
  padding: 15px;
}

.heading{
  font-size: 30px;
  padding: 10px ;
  position :absolute;
  background-color: chocolate;
  color: aliceblue;
  width: 100% ;
  text-align: center;
}


.login{
  position: absolute;
  align-content: center;
  margin: auto;
  padding: 40px;
  top: 30%;
  left: 40%;
  background-color:gainsboro;
  box-shadow: 3px 5px 10px 0.8px rgba(0, 0, 0, 1);
}

.submit{
  background-color: #007fff;
  border: none;
  padding: 10px;
  color: azure;
  width: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


.loginn{
  position: absolute;
  align-content: center;
  margin: 10px;
  padding: 40px;
  top: 20%;
  left: 35%;
  background-color:gainsboro;
  box-shadow: 3px 5px 10px 0.8px rgba(0, 0, 0, 1);
}

.login1{
  position: absolute;
  align-content: center;
  margin: 10px;
  padding: 40px;
  top: 53%;
  left: 34%;
  background-color:gainsboro;
  box-shadow: 3px 5px 10px 0.8px rgba(0, 0, 0, 1);
}

.submit2{
  background-color: #007fff;
  border: none;
  padding: 10px;
  color: azure;
  width: 150px;
}

.sub{
  background-image: url("main_bg.jpg");
  background-size: cover;
}

.sub1{
  background-image: url("fa_bg.jpg");
  background-size: cover;
}

.sub2{
  background-image: url("bg_fa.png");
  background-size: cover;
}